{% extends 'poster_layout.html.twig' %}

{% block body %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Category</th>
                <th>Content</th>
                <th># of positions</th>
                <th>Location</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for poster in posters %}
                <tr>
                    <td>
                        <a href="{{ path('poster_show', {'id': poster.id}) }}"> {{ poster.title }} </a>
                    </td>
                    <td>{{ poster.category }}</td>
                    <td>{{ poster.content }}</td>
                    <td>{{ poster.positionsCount }}</td>
                    <td>{{ poster.location }}</td>
                    <td>
                        <a href="{{ path('user_poster_edit', {'id': poster.id}) }}" class="btn btn-xs btn-success"><span class="fa fa-pencil"></span></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}


