{% extends 'poster_layout.html.twig' %}

{% block body %}
    <div class="container">
    <table class="table table-striped well">
        <thead>
            <tr>
                <th class="col-xs-2 text-center">Title</th>
                <th class="col-xs-2 text-center">Category</th>
                <th class="col-xs-5 text-center">Content</th>
                <th class="col-xs-1 text-center">positions</th>
                <th class="col-xs-1 text-center">Location</th>
                <th class="col-xs-1 text-center">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for poster in posters %}
                <tr>
                    <td class="col-xs-2 text-center">
                        <a href="{{ path('poster_show', {'id': poster.id}) }}"> {{ poster.title }} </a>
                    </td>
                    <td class="col-xs-2 text-left">{{ poster.category }}</td>
                    <td class="col-xs-5 text-left">{{ poster.content }}</td>
                    <td class="col-xs-1 text-left">{{ poster.positionsCount }}</td>
                    <td class="col-xs-1 text-left">{{ poster.location }}</td>
                    <td class="col-xs-1 text-left">
                        <a href="{{ path('user_poster_edit', {'id': poster.id}) }}" class="btn btn-xs btn-success"><span class="fa fa-pencil"></span></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}


