{% extends 'poster/formLayout.html.twig' %}

{% block title %}Create Poster{% endblock %}


{% block body %}
    <div class="container">

        <div class="create-poster">
            <a class="create btn btn-lg btn-primary center-block" href ="{{ path('posters_list') }}"><i class="fa fa-file-image-o" aria-hidden="true">&nbsp;Back to Listing</i></a>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>New Poster</h1>

                {{ form_start(posterForm) }}
                {{ form_row(posterForm.title) }}
                {{ form_row(posterForm.content) }}
                {{ form_row(posterForm.category) }}
                {{ form_row(posterForm.positions_count, {
                    'label': 'Number of Positions'
                }) }}
                {{ form_row(posterForm.location) }}
                {{ form_row(posterForm.event_date, {
                    'label' : 'Event Date'
                }) }}
                {{ form_row(posterForm.is_published) }}

                <button type="submit" class="btn btn-primary" formnovalidate>Save</button>
                {{ form_end(posterForm) }}


            </div>
        </div>
    </div>
{% endblock %}


