{% extends 'poster_layout.html.twig' %}

{% block title %}Poster{% endblock %}

{% block body %}

    <h2 class="genus-name">{{ poster.title }}</h2>
    {% set ihref = 'images/posters/poster' ~ picNum ~ '.png' %}

    <div class="sea-creature-container">
        <div class="poster-photo"><img src="{{ asset(ihref) }}"/></div>
        <div class="genus-details" style="margin-top:-450px;">
            <dl class="genus-details-list">
                <dt>Category:</dt>
                <dd>{{ poster.category }}</dd>
                <dt>Number Of Positions:</dt>
                <dd>{{ poster.positionsCount }}</dd>
                <dt>Description:</dt>
                <dd>{{ poster.content }}</dd>
            </dl>
        </div>
    </div>
    Recent Replies: {{ recentReplyCount }}
    <div id="js-replies-wrapper"></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>

    <script type="text/babel" src="{{ asset('js/replies.react.js') }}"></script>
    <script type="text/babel">
        var repliesUrl = '{{ path('poster_show_replies', {'id': poster.id}) }}';
        ReactDOM.render(
        <ReplySection url={repliesUrl} />,
                document.getElementById('js-replies-wrapper')
        );
    </script>
{% endblock %}